@use 'bootstrap';

/* variables */

@import 'partials/variables';

/* common */

body {
    font-family: 'Open Sans Condensed', sans-serif;
}


/* header */

@import 'partials/header';

/* main */

#comics_wrapper {
    background-color: $dc-dark;
    width: 100vw;
    #jumbotron {
        background-image: url('../img/jumbotron.jpg');
        height: 400px;
        width: 100vw;
        background-size: cover;
    }
    #comics {
        #comic {
            color: $dc-white;
            text-transform: uppercase;
            p {
                margin: 0;
                font-size: 1.2rem;
                font-weight: normal;
            }
        }
    }
    #controls {
        button {
            background-color: $dc-blue;
            padding: 10px 40px;
            border: none;
            font-weight: 600;
            color: $dc-white;
            text-transform: uppercase;
            &:hover {
                cursor: pointer;
            }
        }
    }
    #merchandising {
        background-color: $dc-blue;
        width: 100vw;
        height: 130px;
        .col {
            img {
                height: 75px;
            }
            p {
                color: $dc-white;
                font-size: 11px;
            }
        }
    }
}


/* footer */

#site_footer {
    .jumbofooter {
        background-image: url('../img/footer-bg.jpg');
        height: 410px;
        width: 100vw;
        background-size: cover;
        .col-6 {
            .footer_menu {
                padding-top: 30px;
                h3 {
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                }
                ul {
                    padding-left: 0;
                    li a {
                        text-decoration: none;
                        color: $dc-light-grey;
                        font-weight: 300;
                    }
                }
                p {
                    font-weight: 300;
                    color: $dc-light-grey;
                    span {
                        a {
                            text-decoration: none;
                            color: $dc-blue;
                        }
                    }
                }
            }
        }
        .logo-dc {
            background-image: url("../img/dc-logo-bg.png");
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    #signup {
        background-color: $dc-dark;
        height: 100px;
        width: 100vw;
        .btn-signup {
            text-transform: uppercase;
            padding: 10px 30px;
            border: 2px solid $dc-blue;
            a {
                color: white;
                text-decoration: none;
            }
        }
        .social {
            h5 {
                font-weight: 700;
                color: $dc-blue;
            }
            .socials-logo {
                height: 50px;
                width: 300px;
                col {
                    padding: 0px;
                    img {
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }
    }
}